<%= bootstrap_devise_error_messages! %>
<div class="row">
<div class="col-md-6 offset-md-3">
  <div class="panel panel-default devise-bs">
    <div class="panel-heading">
      <h4>TwitterCloneをはじめよう</h4>
    </div>
    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <%= f.submit 'アカウント作成', class: 'btn btn-primary badge-pill' %>
      <% end %>
    </div>
  </div>
</div>
</div>
