.row
  .col-md-6.offset-md-3
    .list-group
      .list-group-item.list-group-item-action.flex-column.align-items-start.list-group-item-primary
        = simple_form_for Tweet.new do |f|
          = f.input :content, label: false, placeholder: "いまどうしてる？"
          = f.submit 'ツイート', class: "btn btn-primary badge-pill float-right"
      - @tweets.each do |tweet|
        .list-group-item.list-group-item-action.flex-column.align-items-start
          .row
            .col-1.px-2
              - if tweet.user.avatar.attached?
                = image_tag tweet.user.avatar, class: "rounded-circle"
              - else
                = image_tag '/no_image.png', class: "rounded-circle"
            .col-10.px-3
              %p.my-1
                %strong= "#{tweet.user.name}"
                ・
                %span.text-secondary
                  = time_ago_in_words(tweet.created_at)
                  前
              = tweet.content
            .col-1.px-1
              = link_to '削除', tweet, method: :delete, data: { confirm: '本当に削除しますか？' }