.row
  .col-md-6.offset-md-3
    = form_with model: Tweet.new do |f|
      .input-group.pb-4.mx-0
        = f.text_field :content, class: "form-control", placeholder: "いまどうしてる？"
        %span.input-group-btn
          = f.submit "投稿", class: "btn btn-primary"
    - @tweets.each do |tweet|
      .card
        .card-body.row
          .col-1.px-2
            - if tweet.user.avatar.attached?
              = image_tag tweet.user.avatar, class: "rounded-circle", style: "width: 50px;"
            - else
              = image_tag '/no_image.png', class: "rounded-circle", style: "width: 50px;"
          .col-11.px-3
            %p.my-1
              %strong= "@#{tweet.user.name}"
              ・
              %span.text-secondary
                = time_ago_in_words(tweet.created_at)
                前
            = tweet.content