%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .navbar-brand
    = link_to :root do
      = fa_icon "home", text: "ホーム"
  %button.navbar-toggler{"aria-controls" => "navbarText", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarText", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarText.collapse.navbar-collapse
    - if user_signed_in?
      %ul.navbar-nav.mr-auto
        %li.nav-item
          = link_to root_path do
            = fa_icon "users", text: "ユーザー"
      .nav-item.dropdown
        = link_to("#", id: "navbarDropdownMenuLink", class: "nav-link dropdown-toggle", "data-toggle": "dropdown", "data-flip": "true", "aria-haspopup": "false", "aria-expanded": "false") do
          = avatar_image(current_user)
        .dropdown-menu.dropdown-menu-right{"aria-labelledby": "navbarDropdownMenuLink", style: "position: absolute;right: 0;left: auto;"}
          = link_to "プロフィール", current_user, class: "dropdown-item"
          = link_to "設定", :edit_user_registration, class: "dropdown-item"
          = link_to "ログアウト", :destroy_user_session, method: :delete, class: "dropdown-item"
    - else
      %ul.navbar-nav.ml-auto
        %li.nav-item.mr-1
          = link_to 'ログイン', :new_user_session
        %li.nav-item
          = link_to 'サインアップ', :new_user_registration